/*regular font*/
@font-face{
    font-family: regular;
    src:url(../fonts/dogica.ttf)
}
/*bold font*/
@font-face{
    font-family: b0ld;
    src:url(../fonts/dogicabold.ttf)
}
/*pixel font*/
@font-face{
    font-family: pixel;
    src:url(../fonts/dogicapixel.ttf)
}
/*pixel bold font*/
@font-face{
    font-family: pixelb0ld;
    src:url(../fonts/dogicapixelbold.ttf)
}
body{
    background-color:rgb(200, 177, 228);
    padding-right:160px;
    padding-left:160px;
}
*{
    margin:0
}

nav{
    text-align: center;
    margin-top:10px;
}
nav a{
    background-color: rgb(244,239,250);
    display:inline-block;
    border:3px solid rgb(47,24,75);
    border-radius: 3px;
    text-decoration:none;
    color:rgb(47,24,75);
    font-family: regular;
    width:160px;
    padding: 10px 1px;
    margin: 10px 10px;
}
nav a:hover{
    background-color:rgb(250,250,250); 
}

html{
    scroll-behavior: smooth;
}

#home,
#aboutme,
#contact,
#projects,
#music,
#resume{ 
    font-family:regular;
    margin-bottom: 15px;
}

.center{
    text-align:center;
}
/* home page */
.box{
    display:inline-block;
    height:500px;
    width: 1120px;
    background-color: rgb(244,239,250);
    border:3px solid #000;
    border-radius: 5px;
    gap:22px;
    text-align: left;
    padding-top: 80px;
}

.intro{
    line-height: 4;
    text-align:left;
    display:inline-box;
    position:absolute; left:300px;
    
}

.pfp{
    display:inline-block;
    padding-left: 60%;
}

.image1{
    height:300px;
    float: right; 
}

/* about page */

.box2{
    display:inline-block;
    height:700px;
    width:1120px;
    background-color: rgb(244,239,250);
    border:3px solid #000;
    border-radius: 5px;
    gap:22px;
    padding-top: 30px;

    text-align: left;
}

.infoaboutme{
    text-align:left;
    display:inline-box;
    margin-left: 90px;
}

.section-desc{
    padding-left:90px;
    padding-right:60px;
}
.title{
    font-family: pixelb0ld;
    margin-left:90px;
}
.text{
    line-height: 3;
}

/* project page */
.smalldetail{
    font-size: 8px;
    margin-bottom:20px;
    color:rgb(102, 81, 128);
}
.box3{
    display:inline-block;
    height: 2300px;
    width: 1120px;
    background-color: rgb(244,239,250);
    border:3px solid #000;
    border-radius: 5px;
    padding-top: 30px;

}
.project_header{
    font-family:pixelb0ld;
    margin:auto;
    margin-bottom: 10px;
}

.row_square{
    /* border:1px solid #000; */
    height: 750px;
    display:flex;
    justify-content:center;
}
.column_square{
    height:750px;
    width:500px;
    /* border:1px solid #8f0303; */
    /* display:flex;
    justify-content: center; */
 
}
.image_container{
    background-color: rgb(102, 81, 128);
    transition: all .3s ease-in-out;  
    max-width:100%;
    margin-left:4px;
    margin-right:4px;
    padding-top:4px;
    padding-bottom:4px;
    height:250px;
    text-align: center;
    display:block;
}
.image_container img.image2{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}
.content_desc{
    /* border:1px solid orangered; */
    width:auto;
    height:auto;
}
.buttongroup{
    /* border:1px solid blue; */
    display:flex;
    width: auto;
    justify-content: center;
}
.button{
    text-align: center;
    font-family: pixel;
    font-size: 12px;
    display:flex;
    padding:10px;
    border-radius: 4px;
    float:left;
    color:rgb(244,239,250);
    margin-top:5px;
    margin-right: 5px;
    cursor:not-allowed;
}
.javabutton{
    background-color: darkslateblue;
}
.jsbutton{
    background-color: #634d65;
}
.midibutton{
    background-color: #b59eab;
}
.grfbutton{
    background-color:darkgreen;
}
.benchbutton{
    background-color: dodgerblue;
}
.csharpbutton{
    background-color:rgb(107, 147, 134);
}
.unitybutton{
    background-color:#484848;
}
ul{
    list-style-position: outside;
    line-height: 1.5;
    text-align: left;  
    padding-right: 20px;  
}
li{
    margin-bottom: 15px;
}
.image_container img.image3{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}
.image_container img.image4{
    object-fit: contain;
    height: 480px;
    width: 250px;

}
img.image5{
    height: 250px;
    width: 480px;
}

/* music page */
.box4{
    display:inline-block;
    height: 1000px;
    width: 1120px;
    background-color: rgb(244,239,250);
    border:3px solid #000;
    border-radius: 5px;
    padding-top: 30px;
}
.arr_header{
    /* display: flex;
    justify-content: left; */
    border:3px solid rgb(47,24,75);
    border-radius: 3px;
    width: 250px;
    height: 30px;
    margin-left: 70px;
    text-align: center;
    padding-top: 15px;
    background-color: #F5F5F5;
}

img.image4{
    width:100px;
    height:100px;
    border: 5px solid #E8E0E2;
    border-radius: 4px;
}
.album_title{
    width:250px;
    height:100px;
    border: 4px solid rgba(0, 0, 0, 0.18);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: #484848;
    display: inline-block;
    text-align: left;
    color: #E8E0E2;
    line-height: 2;
    padding-left:10px;
}
.album_image{
    display: inline-block;
}
.album_cover_container {
    display: flex;
    align-items: center; /* Vertically align the content */
}
.bg2{
    background-color: #F5F5F5;
    width: 360px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.track_body{
    width: 90%;
    max-width:240px;
    padding-left:10px;
    padding-right:10px;
    padding-top:20px;
    padding-bottom:20px;
    box-shadow: 0 0 20px rgba(red, 0,0, 0.4);
    background: rgba(217, 217, 217, 0.42);
    margin-bottom: 16px;
    margin-top: -30px;

}
.track_header{
    padding-top: 24px;
    font-size: 10px;
    text-align:left;
    padding-left: 30px;
    color: #FFF;
    font-family: regular;
    font-weight: 100;
}
.track{
    display: flex;
    align-items: center;
}

.circle_button{
    cursor: pointer;
    margin-right: 20px; 
    height: 41px;
    width: 36px;
    border: none;
    background-color: inherit;
}

.track div{
    flex: 1;
}
/* For First album  */
.bg3{
    background: linear-gradient(180deg, rgba(120, 117, 134, 0.95) 0%, #787586 43.75%);
    width: 360px;
}

div.list{
    counter-reset: list-number -1;
    padding:30px;
    text-align: left;
    color:#fff;
    font-size: 10px;
}

div.list div.track_number:before {

  counter-increment: list-number 2;
  content: counter(list-number) ".";
  margin-bottom:16px;
  width:20px;
  height:35px;
  display:inline-flex;
  
}
.test{
    width: 300px;
    height:300px;
}

.box4{
    display:inline-block;
    height: 250px;
    width: 900px;
    background-color: rgb(244,239,250);
    border:3px solid #000;
    border-radius: 5px;
    padding-top: 30px;
}

.box4 .text{
    text-align: left;
    font-size: 16px;
    margin-left: 5px;
}
.box4 .section-desc{
    padding-left:50px;
}